@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bourbon/bourbon";
@import "vendor/select2";
@import "variables";
@import "mixins/ie10-and-up";
@import "typography";
@import "components/flex-row";
@import "components/slide-media";
@import "components/container-bg";
@import "components/icon-card";
@import "components/aspect-ratio-box";
@import "components/annotated-image-container";
@import "components/customer-quote";
@import "components/animations";
@import "components/select2";
@import "utility-classes";

.customers-hero {
  position: relative;
  background: $just-commit-bg;
  padding: 120px;
  padding-bottom: 220px;
  display: flex;
  align-items: center;
  color: $color-white;
  overflow: hidden;

  p {
    color: $just-commit-text;
  }

  .goldman-hero-image {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    opacity: .2;
    filter: contrast(120%);

    @media all and (max-width: $screen-sm-min) {
      display: none;
    }
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 120px 20px;
  }
}

.gallery-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;

  @media all and (max-width: $screen-xs-min) {
    align-items: flex-start;
  }
}

.customer-logo {
  height: 50px;
}

.customers-marketplace-background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 200px;
  background: $color-primary;

  .flex-container {
    background: $color-white;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    width: 100%;

    @media all and (max-width: $screen-sm-min) {
      flex-direction: column;
      height: 800px;
    }
  }

  .cta-container,
  .image-container {
    width: 50%;
    height: 400px;

    @media all and (max-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .image-container {
    background-size: cover;

    @media all and (max-width: $screen-sm-min) {
      order: 0;
    }
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;

    @media all and (max-width: $screen-sm-min) {
      order: 1;
      padding: 40px;
    }
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 80px 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 80px 20px;
  }
}

.page-illustrated-header-container {
  padding-top: 10px;

  .container {
    padding: 80px 20px;
  }

  .page-headline {
    margin-bottom: 20px;
    font-size: 36px;

    @media (min-width: $screen-sm-min) {
      font-size: 46px;
    }
  }

  .subheader {
    margin-bottom: 40px;
    color: $color-gray-extra-light;
    font-size: 22px;
  }

  > svg {
    height: 430px;
    left: -15px;

    @media(max-width: $screen-xs-max) {
      left: -100px;
    }
  }

  .cta-btn {
    min-width: 180px;
  }

  .cta-btn-addon {
    min-width: 120px;
    margin: 0;
    margin-bottom: 3px;
    line-height: 38px;
  }
}

.focus-customer-story {
  h2 {
    margin-bottom: $spacing-unit-sm;
    font-size: 32px;
    line-height: 1;


    @media (min-width: $screen-sm-min) {
      margin-bottom: $spacing-unit-md;
      font-size: 40px;
    }
  }

  h3 {
    margin: 30px 0;
    font-size: 26px;
    line-height: (40 / 30);

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .customer-lead {
    font-size: 20px;
    line-height: 1.5;
  }

  .btn-group {
    margin-top: 10px;
  }
}

.page-container.customer-stories {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-white;

  .row {
    @media (max-width: $screen-sm-max) {
      @include margin($spacing-unit-xl null);
    }

    @media (max-width: $screen-xs-max) {
      @include margin($spacing-unit-lg null);
    }

    @media (min-width: $screen-md-min) {
      min-height: 555px;
      padding-bottom: 0;

      @include ie10-and-up {
        height: 555px;
      }
    }
  }

  h4 {
    @include font-weight-bold;
    margin-top: $spacing-unit-sm;
    margin-bottom: 0;
    color: $team-content-color;
    font-size: 16px;
  }

  h3 {
    $lt-color: #292929;
    margin-top: 15px;
    margin-bottom: $spacing-unit-xs;
    color: $lt-color;
    font-size: 24px;
    line-height: (40 / 30);

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }
}

$lt-tile-gutter: ($grid-gutter-width-close / 2);

.page-container.customer-gallery {
  .gallery-title {
    $lt-color: #292929;
    @include accent-font-regular;
    margin: 0 36px 0 0;
    color: $lt-color;

    @media all and (max-width: $screen-xs-min) {
      margin-bottom: 20px;
    }
  }

  .gallery-filter {
    max-width: 230px;
    align-self: center;
    margin-right: 30px;

    select {
      min-width: 230px;
      font-size: 24px;
    }

    .select2-container--default {
      margin-bottom: 0;

      // Allow Select2 class names, nesting, and depth
      // sass-lint:disable nesting-depth
      .select2-selection--single {
        width: 100%;
        border: 0;
        border-bottom: 3px solid $link-color;
        border-radius: 0;
        background: none;
        font-size: 24px;
        appearance: none;

        .select2-selection__arrow {
          height: 28px;

          b {
            top: 4px;
            right: 12px;
            left: auto;
            height: auto;
            width: auto;
            margin: 0;
            border: 0;
            font-size: 14px;
            transform-origin: center;
            transition: transform .1s linear;

            &::after {
              color: $link-color;
              font-family: $font-family-icon;
              font-size: 20px;
              content: "\f107";
            }
          }
        }
      }

      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        transform: rotate(180deg);
      }
    }
  }

  .org-groups-container {
    @include margin(85px #{0 - $lt-tile-gutter} null);
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    // min-height: 822px;
  }
}

.pagination {
  margin-top: 70px;

  li {
    $lt-default-color: #585858;
    @include size(36px);
    display: inline-block;
    margin: 0 6px;
    border-radius: 50%;
    background-color: $color-white;
    color: $lt-default-color;
    font-size: 22px;

    &.active {
      $lt-active-color: #6b50bb;
      background-color: $lt-active-color;
      color: $color-white;
    }

    span {
      margin: 0;
      padding: 0;
      line-height: 36px;
      color: inherit;
    }
  }
}

.org-image {
  display: flex;
  flex: 0 0 calc(25% - #{2 * $lt-tile-gutter});
  align-items: center;
  justify-content: center;
  margin: 0 $lt-tile-gutter #{2 * $lt-tile-gutter};

  @include ie10-and-up {
    width: calc(25% - #{2 * $lt-tile-gutter});
  }

  @media (max-width: $screen-sm-max) {
    flex: 0 0 calc(33.3% - #{2 * $lt-tile-gutter});

    @include ie10-and-up {
      width: calc(33.3% - #{2 * $lt-tile-gutter});
    }
  }

  @media (max-width: $screen-xs-max) {
    flex: 0 0 calc(50% - #{2 * $lt-tile-gutter});
    min-height: 0;

    @include ie10-and-up {
      width: calc(50% - #{2 * $lt-tile-gutter});
    }
  }

  > svg {
    width: 100%;
    max-width: 140px;
    fill: $text-color-light;

    @media (min-width: $screen-sm-min) {
      max-width: 180px;
    }

    @media (min-width: $screen-md-min) {
      max-width: 170px;
    }
  }
}
